<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Simple Table
                    <button style="float: right;cursor: pointer" type="submit" (click)="resetForm()" data-toggle="modal" data-target="#Studentmodel" class="btn btn-outline-success">Add+</button>
                </div>
                <div class="card-body">
                    <table class="table" style="border-bottom: none">
                        <thead>
                            <tr>
                                <th style="border-bottom: none">Họ Tên</th>
                                <th style="border-bottom: none">Mã Sinh Viên</th>
                                <th style="border-bottom: none">Email</th>
                                <th style="border-bottom: none">Phone</th>
                                <th style="border-bottom: none">Địa chỉ</th>
                                <th style="border-bottom: none">Update</th>
                                <th style="border-bottom:none">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of Studentmodels">
                                <td>{{item.name}}</td>
                                <td>{{item.mssv}}</td>
                                <td>{{item.email}}</td>
                                <td>{{item.phone}}</td>
                                <td>{{item.address}}</td>
                                <td style="width: 50px"><button type="button" class="btn btn-outline-warning" (click)="openFormUpdate(item)" data-target="#Studentmodel">Update</button></td>
                                <td style="width: 50px"><button type="button" class="btn btn-outline-danger" (click)="onDeleteStudent(item.id)">Delete</button></td>
                            </tr>
                        </tbody>

                        <!--modal-->
                        <div class="modal fade" id="Studentmodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Quản Lý Sinh Viên</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Add</label>
                                                <div class="col-sm-6">
                                                    Name :<input [(ngModel)]="Studentmodel.name" type="text" name="name" class="form-control" /> Mã Sinh Viên :<input [(ngModel)]="Studentmodel.mssv" type="text" name="masv" class="form-control" /> Địa Chỉ
                                                    :
                                                    <input [(ngModel)]="Studentmodel.address" type="text" name="address" class="form-control" /> Phone :<input [(ngModel)]="Studentmodel.phone" type="text" name="phone" class="form-control" /> Email:
                                                    <input [(ngModel)]="Studentmodel.email" type="text" name="email" class="form-control" />
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="!Studentmodel.id" (click)="onAddStudent()">Add
                    </button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="Studentmodel.id" (click)="onUpdate()">
                      Update
                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </table>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->

</div>